/* Es una práctica común eliminar margin y padding */
body, h1, p {
    margin: 0;
    padding: 0;
    }
    /* Puedo seleccionar elementos por su tipo */
    h1 {
    color: rgba(246, 55, 12, 0.918);
    }
    h1{ text-align: center;
    }
    /* Puedo seleccionar elementos por su clase */
    .text {
    color: blue;
    }
    p {text-align: center;}
    /* Puedo seleccionar elementos por su id */
    #last_p {
    color: rgb(15, 120, 186);
    }
    h2 {
        color:blueviolet;
    }
    h2 {text-align: center;
    }
    
    p {font-size: 5.5;
    }
    p {font-style: italic;
    }
    


    
