/* Es una práctica común eliminar margin y padding */
body, h1, p {
    margin: 0;
    padding: 0;
    }
    /* Puedo seleccionar elementos por su tipo */
    h1 {
    color: rgba(255, 0, 174, 0.436);
    }
    /* Puedo seleccionar elementos por su clase */
    .text {
    color: blue;
    }
    /* Puedo seleccionar elementos por su id */
    #last_p {
    color: green;
    }
    h2 {
        color:blueviolet;
    }
    h3 {
        color:aquamarine;
    }
    h4 {
        color:aqua;
    }
    h5 {
        color:blue;
    }
    p {font-size: 3.5;
    }
    style {font-style: oblique;
    }

    }
    }
    
