/* Es una práctica común eliminar margin y padding */
body, h1, p {
    margin: 0;
    padding: 0;
    }
    
    /* Puedo seleccionar elementos por su tipo */

    h1 {
    color: prgb(95, 2, 95);
    }
    h1{ text-align: center;
    }
    h2 {
        color:rgb(250, 61, 124);
    }
        h2 {text-align: center;
    }
    
    p {font-size: 5.5;
    }
    p {font-style: normal; text-align: center;
    }
    /* Puedo seleccionar elementos por su clase */
    .text {
    color: purple
    }
    p {text-align: center;}
    p 
    /* Puedo seleccionar elementos por su id */
    #last_p {
    color: rgb(15, 120, 186);
    }
    body {background-color: rgb(234, 228, 239);
    }
    body {color: purple;
    }
    ol li {
        color: rgb(5, 158, 158);
    }
    
    


    
